<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Listing Page</h1>
    <form action="/Listings/<%=listing._id %>?_method=PUT" method="POST">
        name <input type="text" name="name" value="<%=listing.name%>"> <br>
        number <input type="text" name="number" value="<%=listing.number%>"> <br>
        city <input type="text" name="city" value="<%=listing.city%>"> <br>
        <button>Submit</button>

    </form>
 

</body>
</html>
